body{
  background-color: #FF0000;
}

img{
  padding: 14px;
}

.sidebar{
  float: right;
  width: 20%;
  background-color: #00FF00;
  border: 4px solid #FF00FF;
  padding: 14px;
  margin: 12px;
}

.main-text{
  display:block;
  position: absolute;
}

.gwar{
  position: relative;
  display: block;
}
.huge{
  font-size: 208px;
}
